/* You can add global styles to this file, and also import other style files */
$primaryColor: #ee8208;

body{
    margin: 0;
    font-family: 'sans-serif';
    font-size: 18px;
}

.container{
    width: 80%;
    margin: 0 auto;
}

header{
    background: $primaryColor;
    padding: 1em 0;

    a{
        color: #fff;
        text-decoration: none;
    }

    a.logo{
        font-weight: bold;
    }

    nav {
        float: right;

        ul {
            list-style-type: none;
            margin: 0;
            display: flex;

            li a{
                padding: 1em;

                &:hover{
                    background: darken($primaryColor, 10%);
                }
            }
        }
    }
}

h1 {
    margin-top: 2em;
}